@font-face {
  font-family: 'DO David Gothic';
  src: url('/ToDoList/fonts/DoDavidGothicRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body{
    background-color: rgb(251, 203, 252);
    font-family: "DO David Gothic", sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
  background-color: rgb(35, 33, 33);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;  
  margin: 0;
}

.to1{
    color:rgb(254, 189, 250);
    font-size: 2rem;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

h1 {
    padding-left: 0;
    margin-top: 40px;
    color:rgb(52, 44, 34);
    margin-bottom: 5px;
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main > h1,
.input-container {
  width: 600px;
}

main > h1 {
  padding-left: 0;
  margin: 40px 0 10px;
}

.taskInput {
    width: 520px;
    border-radius: 4px;
    border: 1px solid rgb(191, 191, 191);
    padding: 6px;
    padding-left: 15px;
    margin-top: 20px;
}

.addTaskButton {
    background-color: rgb(21, 18, 22);
    border-radius: 4px;
    padding: 6px;
    width: 45px;
    color: rgb(255, 252, 247);
    border: 1px solid rgb(56, 0, 58);
}

button:hover {
    cursor: pointer;
    background-color: #febeff;
    border: 1px solid rgb(0, 0, 0);
}

.todo_item {
    min-width: 580px;
    margin-top: 30px;
}

.item {
    background-color: #ffffff;
    padding: 20px;
    padding-right: 0;
    font-size: 15px;
    border: 1px solid rgb(230, 170, 245);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 30px;
}

.deleteButton {
    background-color: #ffffff;
    border: none;
    outline: none;
    float: none;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(254, 189, 250);
    margin-left: auto;
}

.deleteButton:hover {
    color: #ffa1b4;
    background-color: #ffffff;
    border: none;
}

.checked .task-text{
    text-decoration: line-through;
}