h1 {
	color: blue;
	font-family: verdana;
	font-size: 300%;
	border: 2px solid powderblue;
	margin: 50px;
}
p {
	color: red;
	font-family: courier;
	font-size: 160%;
	border: 2px solid red;
	border: 2px solid powderblue;
	padding: 30px;
}